<form action="/products" method="POST">

    Title: <input type="text" name="title">
    Description: <input type="text" name="description">
    Code: <input type="text" name="code">
    Price: <input type="text" name="price">
    Stock: <input type="text" name="stock">
    Category: <input type="text" name="category">
    Thumbnails: <input type="text" name="thumbnails">
    <input value="true" name="status" style="display: none;">

    <input type="submit" value="Crear">
</form>